<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title> Online Food Delivery Service in India | MyOnlineMeal.com </title>
    <link rel="stylesheet" href="../static/style.css">
    <link rel="stylesheet" media="screen and (max-width: 1070px)" href="../static/phone.css">
</head>

<body>
    <nav id="navbar">
        <div id="logo">
            <img src="https://cdn2.iconfinder.com/data/icons/travel-181/64/17-travel-512.png"alt="MyOnlineMeal.com" width="110rem" height="170rem">
        </div>
        <ul>
            <li class="item" id="item1"><a href="/home">Home</a></li>
            <li class="item"><a href="/services-container">About us</a></li>
            <li class="item"><a href="/client-section">Menu</a></li>
            <li class="item"><a href="/contact">Order online</a></li>
        </ul>
    </nav>
    <section id="home">
        <h1 class="heading1">Welcome to MyOnlineMeal</h1>
        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Perferendis dolorum numquam minus. </p>
        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. </p>
        <button class="btn">Order Now</button>
    </section>

    <section id="services">
        <h1 class="heading1">Our Services</h1>
        <div id="services1">
            <div class="box">
                <img src="https://files.pitchbook.com/website/images/ar/featured/b/2x/food_delivery_.jpg" alt="">
                <h2 class="heading2">Food Catering</h2>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Cumque dicta porro doloremque numquam
                    excepturi ab aliquam saepe, repellendus quisquam debitis necessitatibus dolorem deleniti cupiditate
                    commodi </p>
            </div>
            <div class="box">
                <img src="https://thumbs.dreamstime.com/z/big-size-hamburger-fast-food-delicious-183773082.jpg" alt="">
                <h2 class="heading2">Bulk Ordering</h2>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Cupiditate beatae qui laborum officia odio
                    similique aut repellat, quisquam dolore, omnis fugiat officiis reiciendis error mollitia.</p>
            </div>
            <div class="box">
                <img src="https://thumbs.dreamstime.com/b/print-205238587.jpg" alt="">
                <h2 class="heading2">Food Ordering</h2>
                <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Officia, aut repudiandae aliquid velit
                    neque perferendis culpa numquam nostrum quod! Fugiat optio pariatur animi et modi?</p>
            </div>
        </div>
    </section>

    <section id="client_section">
        <h1 class="heading1">Our Sponsors</h1>
        <div id="clients">
            <div class="client_item">
                <img src="https://www.kindpng.com/picc/m/547-5471916_silver-apple-logo-hd-png-download.png" alt="Our Client">
            </div>
            <div class="client_item">
                <img src="https://www.pngitem.com/pimgs/m/2-25415_new-facebook-logo-2019-hd-png-download.png" alt="Our Client">
            </div>

            <div class="client_item">
                <img src="https://www.teahub.io/photos/full/94-940232_new-logos-for-dell-dell-technologies-and-dell.png"alt="Our Client">
            </div>
            <div class="client_item">
                <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQ3c2LjwVbLV2uby-SpSjebIGIqfZanwrKJlOKBRWKLiyAYgyz0kAg5Jo8a9OfCs_9Fu-E&usqp=CAU"alt="Our Client">
            </div>
        </div>

    </section>

    <footer>
        <div id="foot">
            Copyright &copy; www.myOnlineMeal.com. All rights reserved!
        </div>
    </footer>

</body>

</html>
